
body {
    background-image: url(../assets/pokemong.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    font-weight: bolder;
}

.container {
      font-family: Arial, sans-serif;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    color: #868cce
}

.pokemon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 10px auto;
    background-color:#a44b6c;
    justify-content: center;
}




#input {
    width: 72%;
    padding: 10px;
    margin: 10px 0;
    font-size: 2rem;
    border-radius: 2px;
    text-align: center;
    border: none;
    background-color: #a6aad7;
}

#btn {
    padding: 20px 20px;
    font-size: 1.5rem;
    background-color: #118db0;
    border: none;
    color: #ed948f;
    cursor: pointer;
    border-radius: 2px;
}

h3{
    text-transform: capitalize;
    font-size: 30px;
}
    #ability-list {
        text-transform: capitalize;
    
        li {
            background-color: rgb(51, 106, 4);
            border-radius: 10px;
            padding: 10px;
            margin: 10px;
        }
    }
    
    .pokemon-container li {
        font-size: 18px;
    }
    
.error {
    font-size: 20px;
    margin-top: 20px;
    color: rgb(156, 7, 87)
    
}